[2021-03-14 12:07] rcon420 opened #1 "Add an Admin menu displaying who has prime status/recent VAC"
Hey, maybe you could add an admin menu to display who has prime status and maybe recent vac status?

I know there is a plugin that gives nonprime players Tab tags but I don't want to bully them for having free to play version of CS:GO.

[2021-03-14 13:38] azalty commented on #1
Good idea! Version 1.3.0 is already pretty much finished with:
- Logging cvar (logs check approvals/refusals)
- Steam Bans method (refuse player if VAC/Game/Community Banned or Recent VAC/Game ban, configurable)

Adding your suggestion will mean I'll have to change what I did, I'm thinking of adding the `!nda` command where every menu will be accessible

[2021-03-14 15:35] azalty commented on #1
I think I have finished, now I have to translate everything to french and test the plugin

Adding the database is something I really want but it might be complicated for the future. I have to think of a way to make it compatible with future versions and also compatible if people want to switch to previous versions. I want to have a system that automatically updates the database, and safely remove

[2021-03-14 17:01] rcon420 commented on #1
Don't worry I care  I follow your project for some time already :). I have made some suggestions on alliedmodders as well!

[2021-03-14 18:15] azalty commented on #1
Thanks! :)

I prefer having them here since it is easier to track and discuss about it but I read both. I have a .txt file with some requests

The next requests I have are:
- Immunity for admins with a certain flag (or whitelist for certain flag/steamid)
- Store players in databases

[2021-03-14 23:04] rcon420 commented on #1
I have suggestion for !nda menu when you add the Prime Status section just list Players without Prime status I think it's obvious that everyone else has a Prime Status.

[2021-03-15 00:06] azalty commented on #1
Oops, totally forgot to add the prime menu

Anyways I have more things to fix with this update it seems, why do I always find bug right after publishing a version :(

[2021-03-17 19:31] crashzk commented on #1
I just wanted to say that the plugin is perfect, thanks.

Looking forward to the version with support for:

[2021-03-17 22:47] azalty opened #2 "Recent bans menu displays a bad translation phrase"
**Describe the bug**
Recent bans menu in !nda displays "Command_Bans_Community_NoBan" translation instead of "Command_Bans_Recent_NoBan"

[2021-03-17 23:03] azalty opened #3 "Bad french translations"
**Describe the bug**
French translations contain some french phrases with "en" key instead of "fr"

[2021-03-17 23:24] azalty commented on #1
These are already planned, but it's always good to have it here to remember me, could you please [create a new feature request](https://github.com/azalty/sm-no-dupe-account/issues/new/choose) with these infos?

[2021-03-17 23:57] azalty commented on #1
Non-prime status menu added in 1.3.1 (https://github.com/azalty/sm-no-dupe-account/releases/tag/1.3.1)

Close this issue if you think I have added what you were asking for

[2021-03-17 23:57] azalty commented on #2
Fixed in 1.3.1 (https://github.com/azalty/sm-no-dupe-account/releases/tag/1.3.1)

[2021-03-17 23:57] #2 closed, assigned to nobody

[2021-03-17 23:58] azalty commented on #3
File had other formatting issues, they're all fixed in 1.3.1 (https://github.com/azalty/sm-no-dupe-account/releases/tag/1.3.1)

[2021-03-17 23:58] #3 closed, assigned to nobody

[2021-03-18 04:44] crashzk opened #4 "Implement immunity for privileged players"
Privileged players would not go through the following checks:
- CS:GO Level
- CS:GO active profile Coin
- Prime status
- CS:GO Playtime
- VPN
- Steam Level
- Steam Account Age

I believe that a cvar, something like **`sm_no_dupe_account_immunity`** with standard immunity for players with **reserved slot** would be perfect.

If the administrator wants to change, just edit the cvar in the SourceMod

[2021-03-18 04:46] crashzk opened #5 "Implement database system"
Implement a database system, thus storing the playes that have already passed the checks.

An example for using this function would be for private profiles and hours of play played, once the verification is done, the player can leave his profile private again if he has all the requirements.

[2021-03-18 04:47] crashzk commented on #1
Do I believe this to be correct?

https://github.com/azalty/sm-no-dupe-account/issues/4
https://github.com/azalty/sm-no-dupe-account/issues/5

In any case it is only done for registration and to close when it is implemented.

[2021-03-19 08:50] #1 closed, assigned to nobody

[2021-03-24 15:52] crashzk opened #8 "How the available checks work if the player leaves the profile private"
If the player enters the Steam Profile server all public, but then he tries to connect again on the server but the Steam profile is all private, his connection would be refused since his profile is all private and the plugin is not able to make the checks?

[2021-03-24 16:05] azalty commented on #8
Yes, this is the current behaviour (for profile dependant checks. Some aren't as cs:go level or VAC status or game ban status).

However a database system is planned to make the player able to join the server if he made public his profile.

[2021-03-24 16:28] azalty commented on #8
If at least 1 check is passed, the player will be allowed. For example, if CSGO level 5 is a check, and Playtime 5h is another one, if "Player1" connects with a private profile and is level 8, he will be allowed, even if he didn't pass the playtime check.

If any method is set as mandatory (check each cvar description), the player will have to pass EACH of these mandatory methods and pass at least

[2021-03-24 16:41] crashzk commented on #8
I got it, thanks.

I think I will wait for this database system, anything I will contact you again.

[2021-03-24 16:41] #8 closed, assigned to nobody

[2021-03-24 18:43] azalty commented on #5
Currently working on it.

[2021-03-24 23:18] azalty commented on #5
This is taking longer than expected. Code probably needs some rewriting, I have to figure out a way to do what I want properly.

I hope I can finish this in the following hours

[2021-03-25 01:51] azalty opened #9 "Change Handles to their Methodmap equivalent"
Not much to say. It shouldn't really impact anything, but some code changes are required for that.

It'll make the code cleaner to big Sourcemod guys :)

[2021-03-25 02:42] azalty commented on #5
The database system in itself is done and seems working (on the big lines at least)

I still have to do some testing, small fixes and adjustments. ETA could be tomorrow, but i'm really unsure because I could be lazy hehe

You should get this update in a few days, thank you for your interest in my plugin :)

[2021-03-25 10:41] crashzk commented on #5
Thank you, I thank you for this magnificent plugin.

I'll be waiting without any problems.

[2021-03-25 23:33] azalty commented on #5
Done! It's available in 1.4.0

If you find any bug, please report them :)

[2021-03-25 23:34] #5 closed, assigned to azalty

[2021-03-25 23:35] crashzk commented on #5
I'll be testing, anything I'll contact.

[2021-03-26 00:10] azalty opened #10 "Plugin url"
**Describe the bug**
The plugin url is github.com/rlevet/sm-no-dupe-account instead of github.com/azalty/sm-no-dupe-account

[2021-03-26 18:12] azalty opened #11 "Steam Level and Steam Age values not saving into the DB"
**Describe the bug**
Seems like certain players are not getting saved into the DB for some reason, investigating...

I'll update this post when I get more infos about this bug

Edit 1: It seems players are still being approved, so the check query seems okay.
Edit 2: It seems steam level&age requests are failing, since they display '0' on the DB, but players are still being approved with that metho

[2021-03-26 18:58] azalty commented on #11
The DB not updating was an issue on my side, though my steam_level and steam_age values are '-1'

I identified the issue (Steam Level & Steam Age values not being saved into the DB) and I'm fixing it

Not sure why steam_level and steam_age sometimes fail though

[2021-03-26 19:01] #11 closed, assigned to nobody

[2021-03-26 19:04] azalty opened #12 "Steam web requests sometimes fail"
**Describe the bug**
Steam web requests sometimes fail:
[no_dupe_account.smx] Steam Age request failed!
[no_dupe_account.smx] Steam Bans request failed!
[no_dupe_account.smx] Steam Level request failed!
[no_dupe_account.smx] Playtime request failed!

They often happen at the same time. Couldn't find the reason why.

~~It seems that Steam Age and Steam Level requests sometimes fail to grab the user

[2021-03-26 19:23] azalty commented on #12
I am not able to replicate this problem myself, I'm creating a debug system so I can try to understand the problem

[2021-03-27 16:46] crashzk opened #13 "Doubt with the verification/check using the MySQL database"
I currently have 5 servers, 2 competitive and 3 casual.

On competitive servers I have a requirement using your plugin that has to have 150 hours played on CSGO to enter the servers, and 45 hours played on CSGO to enter the casual servers.

I am currently using the plugin with the MySQL database, my question would be.

Players who enter casual servers, having at least 60 hours of play on CSGO for

[2021-03-27 17:04] azalty commented on #13
The database stores player values, including playtime, and doesn't store wether or not the player should be accepted. The server will only retrieve players' playtime from the database and do all the verifications locally. So no, a player with 60h of playtime will **not** be able to connect to the competitive server.

~~Please be aware that there is currently a bug about playtime not saving into th

[2021-03-27 17:14] azalty commented on #13
btw, if you want players to have at least 45h or 150h, you probably don't need to use other checks, since they'll probably all be legit players

casual: `nda_playtime "-2700"` (time in minutes, so 60mins * 45h)
competitive: `nda_playtime "-9000"` (time in minutes, so 60mins * 150h)

The "-" prefix will specify how many minutes a player needs, and set it as a requirement instead of a check (at leas

[2021-03-27 17:40] #10 closed, assigned to nobody

[2021-03-28 15:26] crashzk commented on #13
Thanks, I'll check everything out.

Anything I return contact.

[2021-03-28 15:26] #13 closed, assigned to nobody

[2021-03-30 18:05] rcon420 opened #14 "Snice I updated plugin I don't see Prime Status Section"
**Describe the bug**
A clear and concise description of what the bug is as well as how to reproduce it.
Since I updated the plugin I don't see Prime Status Section in the !NDA panel might be Translation or other issue havent ;looked into it.
**Error logs**
If any error log, paste it here or screenshot it.
no errors.

[2021-03-30 18:09] rcon420 opened #15 "Database Issue"
**Describe the bug**
A clear and concise description of what the bug is as well as how to reproduce it.
MYSQL Database table isn't created

my config:

"driver_default"		"mysql"

	"no_dupe_account"
	{
		"driver"			"default"
		"host"				"privateinfo"
		"database"			"privateinfo"
		"user"				"privateinfo"
		"pass"				"privateinfo"
		//"timeout"			"0"
		"port"				"3306"
	}

**Error logs**
If any erro

[2021-03-30 18:14] rcon420 commented on #12
I noticed this once. Few guys got kicked all the time and next map they were able to connect again. In fact tho they didn't pass all the checks but passed some others. I haven't noticed this problem because this requires seeing the server console.

[2021-03-30 20:53] azalty commented on #12
Could you please send me those logs, or those saying that web requests failed?

As of now I still don't know what causes these fails, but they only seem to happen with steam requests and not VPN requests.

I'll try to have a look at my own server since I added debug for that

Is that linked to #15?

[2021-03-30 20:56] azalty commented on #15
From what I see, the plugin didn't detect that the DB didn't exist, and failed because no rows were retrieved...

Are you sure the plugin didn't create tables into the database?

I was pretty sure I added checks to see if rows were found...

I'll have a look, thanks

[2021-03-30 21:04] azalty commented on #15
Okay now this is very particuliar

It seems like the previous data "last_check" was found but no other columns was found, which should be impossible since they are all set to "NOT NULL" and they are all added and removed at the same time...

Does that issue occur with every player?

[2021-03-30 21:07] azalty commented on #14
- Is Steamworks installed?
- What is the value of `nda_prime`?

[2021-03-31 09:01] rcon420 commented on #14
yes

// (Requires SteamWorks)
// 0 = disabled
// 1 = is a user check that fails if user is not prime (will only work if user paid the game)
// -
// Default: "1"
nda_prime "0"

I disabled the check but I don't think the Prime status menu should be removed.

[2021-03-31 09:02] rcon420 commented on #15
Yes I'm pretty sure  that table isn't made

[2021-03-31 09:03] rcon420 commented on #12
I had this problem before the Database thingy. Sorry, I don't have that old logs anymore.

[2021-03-31 10:15] azalty commented on #14
The cvar changed but it seems your description wasn't updated correctly

You need to put `nda_prime "2"` to add the menu, else the script won't check wether players are prime or not

You can get a complete list of cvars and their updated description on the alliedmodders thread.

I'll try to see if it's possible to update the description as well in a future update.

[2021-03-31 10:20] azalty commented on #15
Could you please try to connect to your database and do `show tables;` and `select * from players;`? Or if you have a web interface, make sure they don't exist?

I don't have a testing MySQL database and I don't really know the language, but from what I tested, all websites said my syntax was correct, and the plugin didn't stop due to an error while creating the tables 🤔

[2021-03-31 10:26] azalty commented on #12
If they passed at least one check then the plugin behaves normally (assuming the web request didn't fail and let them enter). In case they didn't pass at least one requirement, and still got accepted, that's a problem. (See "What's a check" on the wiki)

I'm starting to think it's due to the fact that multiple web requests to steamapi are sent the same time, and for some reason when getting multip

[2021-04-02 21:23] rcon420 commented on #15
uhm not sure if I can do that I don't have full access to the DB since its under my game host

[2021-04-03 08:17] rcon420 commented on #14
nda prime 2 works but for some reason it shows my own profile as non prime now before it didnt show me as non prime

[2021-04-03 11:48] azalty commented on #14
This happens if you reloaded the plugin mid-game or you changed the cvar without disconnecting/reconnecting after. It says you are not prime since you didn't got checked

[2021-04-05 10:42] rcon420 commented on #14
yeah idk I get this all the time. I don't reload this plugin mid-game or change cvars.

[2021-04-05 11:32] azalty commented on #14
Does every player appear as non prime or only some?

We are only able to detect paid primes (players who paid the game to become prime)

[2021-04-05 11:45] rcon420 commented on #14
whole server is non prime with CVAR nda prime 2
I bought cs:go at 2015 i show as non prime

[2021-04-05 12:12] azalty commented on #14
It seems like a bug indeed

I'll take a look at it.

[2021-04-05 22:26] rcon420 commented on #14
Thank You maybe link me your Discord so we can get in touch in real-time? You are doing great work but sadly no one else is reporting issues. This plugin is def must need for skill shooting-based servers and much better than other similar releases.

[2021-04-05 23:00] azalty commented on #14
Thanks!

Here's my current discord tag: rlevet#9721

Here's my discord profile link in case I change username: https://discord.com/users/372454796805931019

EDIT: On my test server, nda_prime "2" is working fine and I'm not being detected as non-prime

[2021-04-07 21:31] rcon420 opened #17 "New Filter - Check Faceit Database for cheating bans"
-You might warn admins in the chat if the player has an active  perm ban on faceit as an option

-option to block connection from any player who has an active perm ban on faceit for cheating

[2021-04-07 21:32] rcon420 opened #18 "Country Block filter"
I think some server owners might be interested in such a filter where you can whitelist X countries or block x countries from connecting to the server. Thoughts?

[2021-04-09 14:20] azalty opened #19 "Approving people that have no coin"
**Describe the bug**
Plugin is approving people that do not have a coin on their profile and says they have one (on new accounts)

[2021-04-09 14:21] azalty commented on #19
Fix: g_iClientDatabaseCSGOCoin[] should be set to 0 by default instead of -1

[2021-04-09 14:40] #19 closed, assigned to nobody

[2021-04-09 14:40] azalty commented on #19
Fixed, will be pushed in the next stable release

[2021-04-09 17:09] #15 closed, assigned to nobody

[2021-04-09 17:10] azalty commented on #15
Found the problem. A specific function wasn't called, and seems like it wasn't necessary for SQLite but it was for MySQL.

The fix is available on the beta 'main' branch, but it should be stable as of now (even though it is untested).

It'll be available on the next stable release as well.

[2021-04-09 17:14] azalty commented on #14
This issue is probably related to an old one you had #15, please update to the main branch and test if it still does that :)

[2021-04-09 17:15] azalty commented on #12
I fucked up, Steam Level 0 exists, I'm modifying my own test version to see if these problems still occur

[2021-04-09 17:30] azalty commented on #14
Fixed with #15, I contacted @rcon420 on discord.

[2021-04-09 17:30] #14 closed, assigned to nobody

[2021-04-10 19:35] azalty opened #20 "Server hibernation & OnConfigExecuted() bug"
**Describe the bug**
Some players should not get into the server but the plugin doesn't return "Approve" or "Refuse" logs for them, and doesn't kick them.

Need more info

[2021-04-10 19:54] azalty commented on #20
OnConfigExecuted() is called after server hibernates, incrementing g_iChecks too high

[2021-04-10 20:01] #20 closed, assigned to nobody

[2021-04-29 16:09] crashzk commented on #17
I may be mistaken but they have already discussed it in other plugins, such as SMAC and etc.

**FACEIT, ESEA, ESPORTAL, GAMERSCLUB**, many others no longer make their list of bans visible, or no longer allows this type of verification, so it is unviable to do this implementation.

More information that can help: https://github.com/Silenci0/SMAC/wiki/Global-Ban-Lists

[2021-04-29 16:34] crashzk commented on #4
@azalty news about this feature?

I would like to use it in the case for players who do not have prime or the necessary hours played in the game to make them immune in the case, thus entering the server.

[2021-04-29 18:37] azalty commented on #4
I've been busy lately. I often add features when I want to do so.

Considering I know I have lots of other things to do, I don't know if I'll have both the motivation and time to do it.

I prefer not making false promises, so no ETA.

It'll be done though, don't worry. Soon™️

[2021-04-29 21:26] crashzk opened #21 "Kicking grounds too long, chat cuts the reason"
## Describe the bug
Reasons for kicking too long, chat cuts the reason.

This happens for my language in the case Portuguese-BR, default language, English I have not verified.

I believe it must be because of the character limit of CSGO itself.

[2021-04-29 21:56] azalty commented on #21
Is having the kick message in chat really that important? Mine are bugged, probably due to my chat processor

[2021-04-29 21:58] crashzk commented on #21
In the chat I believe not, my doubt is if the reason appears completely for the player.

The information box that shows him when he is kicked, turns out to be all right.

[2021-04-29 21:59] crashzk commented on #21
In any case, the PR #22 I made has simple changes to my language, I believe it solves the case of chat.

[2021-04-29 22:07] #21 closed, assigned to nobody

[2021-04-29 22:09] azalty commented on #18
Good idea :)

I might add this later

[2021-05-07 13:55] azalty commented on #12
I think the conversion error is linked to requests error (or maybe not)

I'm changing this issue's topic. You should create a new issue if you think these problems aren't related.

About requests failing: I got 60 request fails in 7 days on my servers, which is kind of a lot. Some appear alone, others in groups for a few mins

[2021-05-07 14:11] azalty commented on #17
Faceit displays publicly their bans, and have a [free API](https://developers.faceit.com/docs/auth/api-keys) that [seems to allow this kind of use](https://developers.faceit.com/terms). However, you need to [create a server API key](https://developers.faceit.com/docs/auth/api-keys)

However, as stated in **5.4 Prohibitions on Content**:

This could technically forbid our use method **if** this inf

[2021-06-25 11:44] azalty commented on #4
That's where other people could argue. I don't see the point in giving immunity if it isn't full immunity.
I wanted to do a full immunity thing, but if you really want something like that, better do it fully customizable, but it'll take a really long time for something not that important.

Doing a system like so would require keyvalues&shit and it's kinda annoying, but if you really want it, then

[2021-06-25 11:48] azalty commented on #4
Alternatively, as you said, I can just create an override, though the documentation says weird things (I'll have to check that further), but it will still be full immunity

I can also implement a thing like `nda_immunity "a,z,co,bd"` to add multiple flag things

So many possibilities!

[2021-06-25 16:23] crashzk commented on #4
I particularly prefer that players with **VAC Bans, Game Bans & Community Bans** still cannot join, even if they have immunity/privileges and such, since if the server has VAC active the player no longer joins, would have to remove the VAC from the server for them to enter. _(As far as I know, correct me if I'm wrong)_

But I understand your point, it would be more work and such, this suggestion w

[2021-06-25 17:42] azalty commented on #4
Didn't understand that 🤔

A player with an active VAC ban on source games (CS:GO, CS:S, TF2...) won't be able to join your server if VAC is enabled on it, and having `nda_bans_vac`, `nda_bans_total`, `nda_bans_recent` disabled won't change anything. This will be the same if a player is game banned from CS:GO.

`nda_bans_vac`: meant for people that are pretty likely to cheat, but aren't VAC Banned

[2021-07-22 21:38] azalty commented on #4
I'm planning on adding a whitelist for VPN checks for SteamID/IPs as well as the same thing for the entire plugin.
Basically a complete and customizable whitelist system.

What can be entered:
- `STEAM_1:1:57298004` (a steamid)
- `1.1.1.1` (an IP)
- `d` (a flag/a combination of flags)

What I would like to do:
A selective whitelist, where you can whitelist whatever you want:
- `STEAM_1:1:57298004;

[2021-08-15 15:51] azalty opened #24 "Global arrays not initiating with good values"
**Describe the bug**
These global arrays should initiate with -1 for each index, but it only does for index 0:
[code]

My bad, I thought this worked.

**Error logs**
None.

**Bug priority**
Minor. Shouldn't cause too much problems, since when the first players at these indexes disconnects, it will fix the value to -1.
It could cause problems with the first players connecting to the server.

**Fix*

[2021-09-01 15:54] crashzk commented on #4
@azalty what's new about this feature?

Sorry to be annoying about this, I would really be happy with this feature. 😁

[2021-09-01 17:02] azalty commented on #4
I've been pretty busy working for my server (did several big private plugins, and [fixed CT Bans](https://forums.alliedmods.net/showpost.php?p=2756664&postcount=456), you know, [this thing](https://forums.alliedmods.net/showpost.php?p=2644119&postcount=449) <3 😃

I'm currently working on a big plugin for my server. Since i'm the only owner, developper, configurator, map adder...

Since this featur

[2021-09-01 20:26] crashzk commented on #4
I see, I also saw about CT Bans. In any case I'm waiting, and yes, if you need someone to test the system before officially launching it just a tap, I can test it.

About CT Bans really nice, currently I don't use it anymore, in case I don't have the JB server anymore in any case when I get it I'll test these changes and corrections made in your version.

[2021-10-04 20:58] azalty commented on #24
This is fixed in the beta 'main' branch. It'll be fixed in the next stable release too.

[2021-10-04 22:19] azalty commented on #4
I'm working on that right now.
I've made the big config file design. It'll also feature #18

[2021-10-04 22:20] azalty commented on #4
Here is a preview of the config file. Experimental, can change.

[code]

[2021-10-05 01:07] azalty commented on #4
The very experimental code is done.
There's probably a huge amount of bugs.

I'll test it on my own later (it's the night for me currently).
If it works, or once I fix all the bugs I can find, I'll publish the version into the main branch so you can test it if you want.

[2021-10-05 01:43] crashzk commented on #4
Good, thank you very much, I will try it.

I liked the model you mentioned, being all right just publish that I can use and report if there is any BUG.

Thank you again.

[2021-10-05 13:27] azalty commented on #4
@crashzk 1.5.0 Beta 1 is released on the main branch.

Small improvements have been made to the config file.
I know there are a lot of comments everywhere and it's messy, but hey, I suck at explaining things :(

It worked fine on my testings, but I didn't test everything (I didn't test the "whitelist" "1" option at all for countries)

[2021-10-05 13:29] crashzk commented on #4
@azalty thanks, i will test here on my servers, return here as soon as possible with feedback.

[2021-10-05 19:55] crashzk commented on #4
@azalty I'm doing a test here, many players can't connect and they get this message:
[code]
Logs server:
[code]
One of the players sent their steam profile link for me to check:
Um dos players enviou seu link do perfil steam para que eu verificasse: https://steamcommunity.com/profiles/76561199022763294/

![image](https://user-images.githubusercontent.com/32937653/136092638-b5d1491d-06ea-4520-98b8-

[2021-10-05 20:11] azalty commented on #4
Your "Players" section in the keyvalues (config file) is doubled. There should only be one, the first one will be chosen, so here your config shouldn't work.

About the non-prime message: this message is the one that is shown when using the !nda command and selecting a player that is not prime.
However, on your config, the prime status is a check, so failing every check (there's only one here) wil

[2021-10-05 20:13] azalty commented on #4
About the other ones, a quick verification showed me they joined cs:go in 2020 or after, when the game was free to play. It's same to assume they have non-prime accounts, and that's the reason they're not able to join.

If they have the 'a' flag and they can't join, please try to remove the duplicate "Players" section, and try again :)

[2021-10-05 20:48] crashzk commented on #4
@azalty perfect, I made some corrections based on what you said, testing again.

Suggestion about the log it sends, would it be possible to create a file with this information, in the logs folder?

From what I saw in the config it just registers right, it doesn't create the file.
[code]

[2021-10-05 20:50] azalty commented on #4
It is be possible to add this feature (but it isn't into NDA), but I find it better to track directly into console.log

I might add -1 and -2 to log into a different file, create a suggestion ;) https://github.com/azalty/sm-no-dupe-account/issues/new?assignees=&labels=enhancement&template=feature_request.md&title=

[2021-10-05 21:06] crashzk opened #25 "Create NDA log file"
We currently have the following logging option for NDA:
[code]
Even having everything saved in **`console.log`** would be a good thing, I believe he creates a file to have his own logs.

The suggestion is there, who knows in the future.

[2021-10-05 21:22] azalty commented on #25
Well, it is currently sent to the server's console.
If you enabled logging, it should appear as well in console.log, since this file contains everything the console outputs.

How to do it? Add `-condebug` in your srcds command line.

Other commands could work too, I don't really know, I just use -condebug on all my servers
https://forums.alliedmods.net/showthread.php?t=178551 - https://forums.alli

[2021-10-05 22:04] crashzk commented on #25
I see, I think I'll keep it on console.log, thank you.

[2021-10-05 22:04] #25 closed, assigned to nobody

[2021-10-05 22:11] azalty commented on #18
This is now available on the 1.5.0 Beta 1, located in the main branch.
This is a beta version, so it might have bugs. So far, everything seems working though.
Once it's tested a bit more, and I'm pretty confident no bugs are present, 1.5.0 will be released as a stable version.
It's up to you to see if you want to try the beta version :)

You might not even be using my plugin anymore, but 🤷

[2021-10-05 22:15] azalty commented on #4
btw, it didn't specify it, but yea, disabling every check through the whitelist for a specific user will automatically approve him. (required methods will still be applied though, if you didn't whitelist them too)

However, removing checks but letting 1 or more will only lower the methods with which he can verify. So, it's kind of a 'bad' thing, but it can be useful if you know some specific profi

[2021-10-05 22:22] crashzk commented on #4
@azalty so far so good.

I believe everything is ok and can be merged. I keep doing tests here, any problems I report.

[2021-10-06 22:26] azalty opened #26 "Log even more things! (nda_log 3)"
Add `nda_log 3` : log approvals, refusals and developer infos (useful for debugging, or manual profiling of players)

Developer infos include:
- Client's database status (1, 2 or 3) on OnClientPostAdminCheck(), with [their meaning](https://github.com/azalty/sm-no-dupe-account/wiki/How-the-database-works#advanced-how-it-works).
- Client's new database values: `Updated %L into the database: csgo_lev

[2021-10-06 22:32] azalty commented on #4
Just added it to my server, so far, so good, same :)

[2021-10-06 23:27] crashzk commented on #4
Yes, everything is fine here too. Just not being able to thoroughly test the country system.

[2021-10-13 20:46] azalty commented on #26
This has been done in 1.5.0 Beta 2 ([commit](https://github.com/azalty/sm-no-dupe-account/commit/4276298254087d82480182f134f643a7d16d3fdb))

[2021-10-17 17:35] crashzk commented on #26
@azalty just a feedack of the **`1.5.0 Beta 2`** version.

I've been using this version for 3 days, so far the plugin itself works from what I could see, but I noticed some BUGS in the checks.

Not in the verification, so I believe, but at the time, a player himself played an almost full competition today, 18 rounds and only later got kicked because he had his private profile.

http://steamcommuni

[2021-10-17 17:59] azalty commented on #26
@crashzk
Did you enable logging? (nda_log 1, 2 or 3)
If so, could you send me the logs in your console?
Please hide any IP or sensitive info

[2021-10-17 18:08] azalty commented on #26
@crashzk I couldn't find that player's steamid in the database
Are you sure this bug only started to occur since 1.5.0 Beta 2?

Could you show the kick message and NDA's log messages?

[2021-10-17 18:50] crashzk commented on #26
Yes, I have the cvar configured:
[code]
But I don't have the **`-condebug`** command enabled, I'll be checking with my host if it's possible to activate it for me and I'll come back with more information as soon as possible.

About the player, yes, as I mentioned, it doesn't have its SteamID registered in the database.

About the kick message, I don't remember exactly what it was, but it was one o

[2021-11-02 23:22] crashzk opened #28 "Players kicked due to Community Ban but no bans in player steam"
**Describe the bug**
Players being kicked off the servers, however it has all requirements.

**Error logs**
Checking the `console.log` log I found this.
[code]
![image](https://user-images.githubusercontent.com/32937653/139965208-4c0ddb52-8efb-45fc-adec-7a6a45516349.png)

This error occurred as soon as Steam Tuesday's maintenance started.

https://steamstat.us/

Could it be because of this steam m

[2021-11-02 23:24] crashzk commented on #28
I'm using the version:
[code]

[2021-11-02 23:54] azalty commented on #28
Yep, good guess, noticed this too on my server.

While Steam is in maintenance, requests will fail.

EDIT: The quoted text below is FALSE!

I'll take a look to see if there's any way to tell that someone is community banned. Else, I'll have to implement something that let people go through when the time is around the weekly maintenance, unless there's an API call that can tell us that a maintenanc

[2021-11-02 23:55] azalty commented on #28
By the way, this issue should also affect stable releases, and is not because of the beta. Thanks for specifying the version you're using though!

[2021-11-03 00:00] azalty commented on #28
The thing that is weird is that when the Steam Bans request fails, it shouldn't kick people for having a Community Ban, since that only happens when the request works but returns less infos than normal.

It could be possible that the API still answers, but with less informations than normal. Perhaps, it returns something different than someone with a community ban, which could allow us to fix that

[2021-11-03 00:22] azalty commented on #28
By reading the code, I think the API doesn't return the CommunityBanned field when Steam is in maintenance, making the plugin think the user is community banned while it isn't.

I added a new check to verify that the field exists and is either set to true or false.

The API might actually return true, or do something else, but I think it answers a blank response, or something similar.
We'll see ho

[2021-11-03 02:14] crashzk commented on #28
Good, I will be testing this new version and return here with feedback.

[2021-11-06 01:55] crashzk commented on #28
@azalty just feedback.

I keep getting error in **`console.log`** logs still:
[code]
Print from this exact moment, showed error after I changed the map.

![image](https://user-images.githubusercontent.com/32937653/140593931-ad00781a-39cb-48f4-b8a1-ab0b156863cb.png)

Apparently it's showing less, but it still shows.

[2021-11-06 03:16] azalty commented on #28
@crashzk this should actually be in #12

The fix I wrote only fixes players being kicked for having a community ban when they didn't. This issue seemed to appear with Steam maintenances.

I still don't know why requests fail from time to time.
Here, the only request that seem to fail is the Steam Bans one. My guess is that it was the only request type that was done, since Steam Bans values aren't

[2021-11-06 03:38] azalty commented on #12
These kind of problems still seem to occur.

Web requests to the Steam API that fail during Steam weekly's maintenances is **normal**, but fails for the Steam API still occur outside of maintenances.

If web requests fail one minute after another, it could be a rate-limit Steam has implemented. I still have no idea why those fail.

I'll push another commit to the beta version soon to add a bit mor

[2021-11-06 03:45] azalty commented on #28
Forgot to put 1.5.0 Beta 3 .smx (plugin) file in the right folder, this is now fixed in 1.5.0 Beta 4 (which also adds logging)
https://github.com/azalty/sm-no-dupe-account/commit/0fd834b70e7254aad6a2d90ed64a2c8ed8e2d42b

[2021-11-06 13:23] crashzk commented on #28
So I had noticed that. I even compiled it to the new version and still nothing.

In any case I will send this new version and I'll be back here, thanks for the time.

[2021-11-06 15:18] crashzk commented on #28
@azalty I sent it, having more information return here.

For now I would like to clear a question, this problem may be related to Steam/CSGO or even SourceMod?

I ask because I realized that when this errors occurs, other plugins also have a delay, errors. Example, my servers have the plugin **SWGM**: https://github.com/ZK-Servidores/SWGM

It works perfectly, but there are times when I change the

[2021-11-06 17:20] azalty commented on #28
Your server performances might be bad.

Some plugins might do too many SQL queries and thus block all the other ones

Using a SQLite database helps.

For NDA, 1 query is done per join, 1 query per disconnect. As simple as that.

[2021-11-07 17:02] azalty commented on #26
@crashzk If this still happens, please create a new issue so we can figure out the problem

[2021-11-07 22:41] crashzk commented on #26
Perfect, anything open a new issues, thanks

[2021-11-07 23:04] crashzk commented on #28
Just a feedback, until yesterday 11/06/2021 still appeared some error logs. But as I don't remember the right time I sent it, I'm discarding it, thinking it's due to the old version.

For now I believe that these issues can be closed, if the problem occurs again I open a new one.

Thanks for the hour.

[2021-11-08 08:26] azalty commented on #28
The issue you reported is caused by the Steam maintenance, wait for the next maintenance to see if it's fixed.

If web requests fail outside of Steam maintenances, please comment on #12

[2021-11-10 02:54] crashzk commented on #28
@azalty today during steam maintenance it returned the error in **`console.log`**.

![image](https://user-images.githubusercontent.com/32937653/141040933-843366c5-0c69-4b4a-a28a-8f2950d981ad.png)

Most recent are from today 9/11, 06th and older are before submitting the changes you made.

[2021-11-10 02:56] crashzk commented on #12
Apparently with the latest version this problem stopped occurring, today it occurred but it was during the steam maintenance window, before this maintenance there are no more errors.

[2021-11-11 21:01] freakexeuLow opened #29 "Steam Bans/Playtime request failed!"
**Describe the bug**
Unfortunately, I have these errors every day. Now I wanted to test the Master Brench and get there again other error messages. I give up slowly because it is currently the only plugin that reports these errors. The Prime status works so far, everything else again not

**Error logs**
1.4.4 **Stable**
[code]

**Main**
[code]

I will edit the post as far as I get new error messag

[2021-11-11 21:41] azalty commented on #29
401 = k_EHTTPStatusCode401Unauthorized
403 = k_EHTTPStatusCode403Forbidden

Notes: `You probably want 403 or something else. 401 implies you're sending a WWW-Authenticate header and the client can sent an Authorization header in response.` ([Source](https://partner.steamgames.com/doc/api/ISteamHTTP))

Are you sure you set the correct Steam API key in `nda_steamapi_key`? Verify it please (but don't

[2021-11-11 21:51] azalty commented on #12
Still occurs for me.
I'll write an experimental patch to retry the request after a few seconds, might fix the problem.

[2021-11-12 00:30] azalty commented on #12
Added HTTP Request retries
A lot of the code for the web requests have been changed. I didn't get any error or bug while testing, but watch out.

By default it will do 4 tries (1 original + 3 retries), each being delayed by 5s.
Let's hope this fixes the problem

[2021-11-12 00:31] azalty commented on #29
I added an error message to indicate that the Steam API Key that is set is incorrect in 1.5.0 Beta 5

[2021-11-12 09:59] freakexeuLow commented on #29
i have already written it azalty privately, unfortunately yesterday the night was too long after all and had forgotten 1 number/letter in the API and currently it runs now without problems and already testing the 1.5.x version. If you want, you can close the topic or wait another 1,2 or 3 days if the 1.5.x reports problems azalty :)

[2021-11-12 12:18] azalty commented on #29
Closing this issue because it was invalid.

If you have any problem, please comment on these issues #12 #28 or create a new one if the problem you're reporting isn't yet reported

[2021-11-12 12:19] #29 closed, assigned to nobody

[2021-11-13 12:51] azalty commented on #12
The retry system seems working so far!
Only got these two fails, and they worked on the 2nd try:

Note: It was status code 503 which means `ServiceUnavailable`. I usually get Status Code 0 `Invalid/Unspecified`, but it's nice to see that this fail got handled. I'll give more infos about Status Code 0 fails as soon as I get one.

[code]

[2021-11-17 21:54] azalty opened #30 "Switch to kidfearless/Auto-Exec-Config-Class (also known as convar_class)"
In short, [kidfearless/Auto-Exec-Config-Class](https://github.com/kidfearless/Auto-Exec-Config-Class) is pretty similar to AutoExecConfig (currently used), except it automatically updates each cvar's description and default value.

A must have, since this way we won't have to delete and back up the cvars config file, but we can just modify it easily.

[2021-11-18 21:44] azalty commented on #30
Done in 1.5.0 Beta 6

[2021-11-21 12:07] azalty commented on #12
Seems working for Status Code 0 too (no 2nd try fail)
[code]

Seems like the Steam API/services were not available. It failed even after multiple retries. It's safe to assume that this problem if from Steam, and not NDA.
[code]

This is now considered fixed in beta. If any problem still happens, please report it :)

[2021-11-21 12:17] azalty commented on #28
Any news regarding this @crashzk?

[2021-11-21 12:57] azalty commented on #28
**This issue is about player being kicked for having a community ban while they actually aren't banned** (And not about requests failing with Status Code 0). Was any player kicked for "community ban" during those fails/Steam Maintenance?

The Status code 0 request fails are greatly reduced/gone in the latest Beta version, you should consider switching to it if you're not already using it (I'm fair

[2021-11-21 16:29] crashzk commented on #28
I will check if I have the latest version of the Beta version.

But from what I've noticed recently, no one is being expelled anymore due to verification errors, I believe it could be closing these issues, anything I'll contact you again.

[2021-11-21 16:30] crashzk commented on #12
Perfect, I believe this issues can be closed, I will update to the latest version of the Beta, any problem I will contact.

[2021-11-21 17:59] azalty commented on #28
Let that open until we confirm this is properly handled. A specific error message should show.
Since this isn't a major bug in itself, I think I'll release 1.5.0 Stable soon, even if this issue is not confirmed as fixed yet.

[2021-11-21 18:36] azalty commented on #4
Added in the 1.5.0 stable release.

[2021-11-21 18:36] #4 closed, assigned to azalty

[2021-11-21 18:36] azalty commented on #9
Added in the 1.5.0 stable release.

[2021-11-21 18:36] #9 closed, assigned to azalty

[2021-11-21 18:36] azalty commented on #18
Added in the 1.5.0 stable release.

[2021-11-21 18:36] #18 closed, assigned to azalty

[2021-11-21 18:37] azalty commented on #24
Fixed in the 1.5.0 stable release.

[2021-11-21 18:37] #24 closed, assigned to azalty

[2021-11-21 18:37] azalty commented on #26
Added in the 1.5.0 stable release.

[2021-11-21 18:37] #26 closed, assigned to azalty

[2021-11-21 18:39] azalty commented on #30
Added in the 1.5.0 stable release.

[2021-11-21 18:39] #30 closed, assigned to azalty

[2021-11-21 18:40] azalty commented on #12
Fix added in the 1.5.0 stable release.

If there's any problem, comment & re-open this issue :)

[2021-11-21 18:40] #12 closed, assigned to nobody

[2021-11-21 18:41] azalty commented on #28
Potential fix added in the 1.5.0 stable release.

If it worked, please send logs of it :)
It it doesn't, please tell me :)

[2021-12-03 01:14] crashzk commented on #28
I believe this issue can be closed, I have not had any more issues related to this error.

[2021-12-03 01:19] crashzk opened #31 "Request failed! - Status Code: 0"
### Describe the bug
Today I started getting the **`Status Code: 0`** error again.

Plugin version would be:
[code]
### Error logs
![image](https://user-images.githubusercontent.com/32937653/144528164-76bb98e6-3819-4410-af95-fe479bb38c7d.png)

[errors_20211202.log](https://github.com/azalty/sm-no-dupe-account/files/7646086/errors_20211202.log)

I can't say if it had to do with today's Steam proble

[2021-12-03 10:18] azalty commented on #28
As long as you don't have a custom error message, it means the problem didn't happen

I want to know the final word of this!!

[2021-12-03 10:52] azalty commented on #31
`L 12/02/2021 - 20:24:40: [no_dupe_account.smx] Steam Bans request failed: CommunityBanned field is missing (potential Steam maintenance)! - Status Code: 200`

This thing again! #28 did occur another time here, and it indeed seemed like a maintenance yesterday. I'm curious though, I should've written what the API sent back, but as long as this problem is handled, it's fine.

For all the other fail

[2021-12-03 10:56] azalty commented on #31
I think we can safely say it's Steam's fault if we don't have as many errors in the future.

Did you get any 4/4 fails in the previous days? Those should be a lot less frequent than 1/4 fails if my retry system works.

Thanks for letting me know about these fails!

[2021-12-03 15:02] crashzk commented on #31
No, just yesterday you registered several, logs from previous days have some days that do not have and others that occur only once.

I believe it was due to this _"steam maintenance"_ itself.

In any case, I'll keep an eye on it from today until the weekend, I get all the error logs and send them here just so we can see if it happens again and several times.

[2021-12-05 14:53] crashzk commented on #31
I got the most recent logs, 3 days, problem reoccurred in 2 days while in one day nothing was recorded.

Interesting that whenever Steam recorded error logs it recorded a drop even hours later.

https://steamstat.us/

[errors_20211203.log](https://github.com/azalty/sm-no-dupe-account/files/7656656/errors_20211203.log)
[errors_20211204.log](https://github.com/azalty/sm-no-dupe-account/files/7656654

[2021-12-05 16:08] crashzk commented on #31
It happened again almost now, and again steam had a connection problem apparently.

![image](https://user-images.githubusercontent.com/32937653/144760776-eedfefa5-030c-487d-8faf-6abd59cf6e9c.png)

![image](https://user-images.githubusercontent.com/32937653/144754124-c4742b8d-301a-454c-9d4d-3d2e77e5f821.png)

I'm starting to believe it's steam even correct? Or am I totally wrong?

[2021-12-05 18:37] azalty commented on #31
@crashzk please hide the player IP or I'll have to remove your message

[2021-12-05 18:42] azalty commented on #31
On your last screenshot, it worked, because as you can see, you didn't get a 4/4 fail.

No idea if it's because of Steam or my fault. I thought doing multiple tries would help for every reason, but I'm running out of ideas.

[2021-12-05 18:49] azalty commented on #31
Try increasing `nda_http_request_timeout_delay` to `10` to see if it helps.

Location: `cfg/sourcemod/no_dupe_account_advanced.cfg`

However, the fact that only Steam requests seem to fail is pretty weird.

[2021-12-05 19:28] crashzk commented on #31
I didn't find IP of players, just STEAM_ID. In any case I removed everything and left only the No Dupe Account logs.

**[EDIT]**
Sorry, I saw it in the image, I updated it.

[2021-12-05 19:29] crashzk commented on #31
Yes, I noticed too. But I forgot to warn you, during these logs/errors I noticed that players that didn't have the requirements were able to connect.

Anyway, I'm going to test, make the change you said and test it.

[2021-12-05 20:14] azalty commented on #31
When any request fail for a player, the player is automatically granted access to the server. This is done on purpose to prevent players from being falsely kicked.

[2021-12-05 20:23] crashzk commented on #31
Ok, but even with these failures the plugin tries to make the request again and if everything goes well it checks the player, if it doesn't have requirements is it kicked?

Or if he connected even without having the requirements once connected to the server the plugin won't kick until change map and do another check?

[2021-12-05 21:22] azalty commented on #31
If any request fails, it will count as a passed "check". However, it won't bypass "requirements/kick methods". [(click here to remember what are checks)](https://github.com/azalty/sm-no-dupe-account/wiki/FAQ#whats-a-check)

[2021-12-06 00:32] crashzk opened #32 "Format Steam_ID | Mode of saving player data"
Currently the plugin saves the **`steamID`** data of the players.

![image](https://user-images.githubusercontent.com/32937653/144770119-abdf3977-0c57-4343-b0e0-f06de0801cda.png)

Would it be possible to implement to save the format **`steamID64`** ?

I believe that this makes it easier for the plugin to check the players and even us to locate the players steam.

I ask because in CSGO there are mo

[2021-12-06 01:11] azalty commented on #32
`STEAM_0` = `STEAM_1`, csgo requires a 1 for some reason, but it's basically the same.

`STEAM_0:1:57298004` = `STEAM_1:1:57298004`. The one starting with 0 is for Steam in general, and starting with a 1 means it's for a special game like csgo. I don't know why it's needed, but csgo requires it.

The next `:0` or `:1` doesn't change from csgo to steam. It is part of the player's steamid, same for

[2021-12-06 01:51] #32 closed, assigned to nobody

[2022-01-30 17:07] crashzk commented on #31
Oops, sorry for the delay **@azalty.**

So let's go, I'm using the latest version and I believe this problem has been solved, it even showed some logs, but they all solved it with just an attempt to make the request again.

![image](https://user-images.githubusercontent.com/32937653/151709507-416e4765-45cc-4ee6-a809-db3391cf6cef.png)

![image](https://user-images.githubusercontent.com/32937653/151

[2022-01-30 17:09] crashzk commented on #28
Oops sorry for the delay **@azalty**.

I believe this issues can be closed, I didn't have any more custom errors, as I mentioned here in the issues: https://github.com/azalty/sm-no-dupe-account/issues/31

Anyway, I believe that both issues can be closed, the errors/bugs seem to have been resolved.

[2022-01-30 17:14] azalty commented on #28
Seems like a rare bug. I'll keep the fix and custom error message in case it still happens.

If anyone encounters this problem, re-open this issue :)

I'll mark it as fixed because the error is now handled.

[2022-01-30 17:14] #28 closed, assigned to nobody

[2022-01-30 17:18] azalty commented on #31
As long as complete request fails (4/4) are rare enough, they can indeed be neglected.

[2022-01-30 17:18] #31 closed, assigned to nobody

[2022-01-31 00:05] crashzk opened #33 "Doubt with no_dupe_account.cfg file"
I have a question with the **`no_dupe_account.cfg`** file:
[code]
I would like all players who have **Prime Status in CSGO** to pass the verification even if they have a private profile and connect to the server.

I thought of putting it like this in the configuration:
[code]
Would it work in this case?

What I mean is, player has never connected to the server, private profile, but he has **Prime

[2022-01-31 00:22] azalty commented on #33
Just set the prime status as a check and the player will be validated.
If you have any forced verification ('kick' mode, not 'check' mode), well sadly, you currently can't filter people that have the prime status to bypass forced verifications.

https://github.com/azalty/sm-no-dupe-account/wiki/FAQ#whats-a-check

Prime status -> set as a check
Other methods that require a public profile -> set as

[2022-01-31 00:26] azalty commented on #33
If you really want prime people to be added as a possibility in the whitelist, you can ask! :)

[2022-01-31 00:55] MatheusVRibeiro commented on #33
I would like to know this possibility, could you help me?

[2022-01-31 01:03] azalty commented on #33
What do you mean?

[2022-02-01 01:43] crashzk commented on #33
OK, I believe I got it, so if I configure it like this:
[code]
Even if the player has a private steam profile, does it connect if it has prime status in CSGO? Would it be this?

I believe that would be the case, the possibility of me whitelisting all players with Prime Status. If you have prime, enter the server even if you have a private profile.

If you don't have prime, it goes through the publ

[2022-02-01 02:04] azalty commented on #33
@crashzk depends, what value are you using for "nda_playtime"?

[2022-02-02 00:03] crashzk commented on #33
@azalty
[code]

[2022-02-02 02:09] azalty commented on #33
You currently cannot bypass 'forced methods' for players that have the prime status -> methods that are not a 'check' but kick players
You'll have to set it as a check

[2022-02-13 16:30] #33 closed, assigned to nobody

[2022-08-28 19:51] crashzk opened #34 "Check/Kick doesn't work"
**Describe the bug**
Check/Kick doesn't work, player doesn't have the requirements I configured and even then it's not being kicked from the server.

**Error logs**
[code]
In the case of a translation error, there is no such sentence in the translation file.

https://github.com/azalty/sm-no-dupe-account/blob/cb5183e1b874cd515f7527713c3dc38a37906512/scripting/no_dupe_account.sp#L2033-L2036

Player

[2022-08-28 19:52] crashzk commented on #34
Anyway, error would be, player even not having the requirements is not kicked from the server.

In the case of the player I mentioned above, it would be on time, he needs to have 120 in CSGO to play on the server, he doesn't have this requirement and still manages to enter.

[2022-08-28 21:21] azalty commented on #34
@crashzk watch out you leaked your steam api key and discord webhook

[2022-08-28 21:30] azalty commented on #34
Thanks for reporting, the player not being kicked is due to the missing translation. My bad :-/

Adding it in a commit, I'll do a release as well.

The `database status: Checked` doesn't mean the player has been allowed, it only means their data has been found and loaded from the database. If more checks are needed, the plugin will wait for the player to connect to check their csgo level or profil

[2022-08-28 22:27] azalty commented on #34
Fixed in 1.5.1

[2022-08-28 22:27] #34 closed, assigned to nobody

[2022-08-29 10:27] azalty commented on #34
Another problem we found was that their config looked like that:

[code]
We found out that comments right after the value (`nda_playtime "-7200"`) break things. We found out that the cvar value was `""-7200"    // 120 Horas"` due to this. Weird bug.

[2022-08-29 21:23] crashzk opened #36 "Doubt with the cvars Bans VAC, Bans Game & Bans Total"
What would be the difference between these cvars?
[code]
I ask because the cvars **`nda_bans_vac`** and **`nda_bans_game`** kick players who have received VAC or Game Ban. And the `nda_bans_total` cvar kicks for the same reason as the cvars above, correct?

Wouldn't you just need the first two cvars?

[2022-08-29 21:27] crashzk commented on #36
I ask because in the whitelist I put that players with reserved slot privileges are immune to the Game Ban kick, but there are players with Game Ban and have privileges on the server and still cannot connect, it shows the kick message for them:
[code]

[2022-08-29 21:31] crashzk commented on #36
Whitelist configuration in case you need to check:
[code]

[2022-08-29 21:38] azalty commented on #36
Yes, you only need the first two cvars. I recommend disabling `nda_bans_total` as its kick reason is a bit more vague than the others.

You also need to whitelist `bans_total` in that case (or disable the "bans_total" feature)

[2022-08-29 21:53] crashzk commented on #36
OK thank you. I made the changes here and will test, thanks again.

[2022-08-29 21:53] #36 closed, assigned to nobody